# Telegram API credentials: https://my.telegram.org
API_ID=
API_HASH=

# Required MTProxy settings
PROXY_SERVER=
PROXY_PORT=
PROXY_SECRET=

# Optional settings
LOGIN_METHOD=qr
BOT_PREFIX=.
# SESSION_NAME defaults to userbot/userbot.session
